*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

body{
    width: 910px;
    margin: auto;
}

/* DEBUG */

.debug .nav{
    height: 100px;
    background-color: violet;
}

.debug .hero{
    height: 350px;
    background-color: tan;

}

.debug .topic{
    height: 70px;
    background-color: skyblue;
}

.debug .article-column > div{
    height: 350px;
    background-color: skyblue;
}

.debug .copywright{
    height: 50px;
    background-color: firebrick;
}


/* Common */

.article .column-middle{
    width: 60%;
}

.article .column-left, .article .column-right{
    width: 19%;
}

.article .column-left, .article .column-middle{
    margin-right: 1%;
}


.article-column > div{
    float: left;

}

.nav, .hero, .article-column, .topic{
   margin-bottom: 10px;  
}